/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.theme-doc-sidebar-item-link-level-2.menu__list-item {
  font-size: 14px;
  padding-left:1rem;
}